body{
    background-color: red; 
  background-image: linear-gradient(to right, red , yellow);
}
.frame{
   width: 800px;
   height: 350px;
   border-radius: 15px 15px 15px 15px;
   color: white;
   background-color: azure;
   top:300px;
   left: 500px;
   position: relative;

}
.frame .picture{
  position: absolute;
  left: -50px;
  top: 35px;
  width: 280px;
  height: 280px;
  border: 1px solid black;
  border-radius: 15px 15px 15px 15px;
  background-color: blue;
}
.frame img{
  width: 280px;
  height: 280px;
  border-radius: 15px 15px 15px 15px;
}
.info{
  position: absolute;
  right: 85px;
  top: 60px;
  width: 400px;
  height: 230px;
  color: black;
}
#button{
  background-image: linear-gradient(to right, red , yellow);
  border-radius: 15px 15px 15px 15px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.frame .slider{
  position: absolute;
  right: 15px;
  top : 160px;
}
.frame .top{
  width: 12px;
  height: 12px;
  background-color: rgb(197,184,184);
  position: absolute;
  border-radius: 50%;
  top: -20px;
}
.frame .mid{
  top: 10px;
  width: 12px;
  height: 35px;
  background-image: linear-gradient(to left,orange,red);
  border-radius: 10px;
}
.frame .bottom{
  width: 12px;
  height: 12px;
  background-color: rgb(197,184,184);
  position: absolute;
  border-radius: 50%;
  bottom: -20px;
}